<h1>Log In Below:</h1>
<form method="post" action="/sessions">
  <p>
    <div><label for="email">Email</label></div>
    <input type="email" name="email" id="email">
  <p>
    <div><label for="password">Password</label></div>
    <input type="password" name="password" id="password"/>
  </p>
  <input type="submit" value="Log In" />
</form>

