<h1>Sign Up Below:</h1>

<form method="post" action="/registrations">
  <p>
    <div><label for="name">Name</label></div>
    <input type="text" id="name" name="name" />
  </p>
  <p>
    <div><label for="email">E-Mail</label></div>
    <input type="email" id="email" name="email" />
  </p>
  <p>
    <div><label for="password">Password</label></div>
    <input type="password" name="password" id="password">
  </p>
  <input type="submit" value="Sign Up" />
</form>


